@font-face {
    font-family: "Czizh";
    src: url(../fonts/ofont.ru_Czizh.ttf);
    font-style: normal;
}

@font-face {
    font-family: "AubreyPro";
    src: url(../fonts/AubreyPro.otf);
    font-style: normal;
}

